.navbar {
    width: 100%;
    display: flex;
    border: 3px solid black;
}

.song-header {
    background-color: orange;
    height: 60px;
}

.header {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    padding-top: 0px;
}

.figure {
    width: 20%;
}

.lijsth {
    width: 80%;
    font-size: 30px;
    font-weight: normal;
}

.lijsth2 {
    width: 80%;
    font-size: 30px;
    font-weight: bold;
}

.breedte {
    width: 100%;
}

.raster {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, "30px")
}

.song-row__text,
.submit-button {
    font-size: 20px;
    width: 80%;
    height: 1.5em;
}

.ozselectie {
    font-size: 20px;
}

.song-row__select {
    font-size: 20px;
    height: 1.5em;
}

.verwijderButton {
    transform: translateY(-30px);
    transform: translateX(-200px);
    font-size: 20px;
}

.titellabel {
    width: 400px;
}

.opschuiven {
    width: 125px
}

.opschuifcontainer {
    display: flex;
    height: 1.2em;
}

.routingUlLijstje {
    display: flex;
    margin-bottom: 0px;
    padding: 0px;
}

.routingUlLijstjeLine {
    list-style: none;
    margin-right: 50px;
}